@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html{
    background: #272727;
    color: white;
    font-family: 'Lato';
}

.wrapper{
    margin-left: 10%;
    display: inline-block;
}
.input h3{
    font-size: 40px;
}
.wrapper input{
    width: 70%;
    padding: 12px;
    border-radius: 35px;
    outline: none;
}
.input{
    display:inline-block;
}
.spotifyIcon img{
    width: 400px;
}
.spotifyIcon{
    margin-left: 200px;
    display: inline-block;
}
.wrapper .spotifyIcon{
    margin-top: 100px;
}