@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html{
    background: #272727;
    color: white;
    font-family: 'Lato';
}

.wrapper .leftSide{
    margin-left: 10%;
    margin-top: 10%;
    display: inline-block;
}
.leftSide h3{
    font-size: 50px;
}
.wrapper input{
    width: 70%;
    padding: 12px;
    border-radius: 35px;
    outline: none;
    margin-bottom: 20%;
}

.spotifyIcon img{
    width: 300px;
}
.spotifyIcon{
    margin-left: 300px;
    display: inline-block;
}
.wrapper .spotifyIcon{
    margin-top: 100px;
}