@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html{
    background: #272727;
    color: white;
    font-family: 'Lato';
}

.wrapper{
    margin-left: 10%;
    font-size: 40px;
    display: inline-block;
}
.wrapper input{
    width: 70%;
    padding: 12px;
    border-radius: 35px;
    outline: none;
}
button{
    margin-top: 20%;
    width: 20%;
    height: 35px;
    border-radius: 30px;
    background-color: #C0FFFB;
}
.input{
    display:inline-block;
}
.spotifyIcon img{
    width: 400px;
}
.spotifyIcon{
    margin-left: 200px;
    display: inline-block;
}
.wrapper .spotifyIcon{
    margin-top: 100px;
}